@import '_fonts';
@import 'breakpoint';

.container{
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid #FFFFFF;
    margin: 25px 50px;
    @include media('<=phone')
        {   
            margin: 25px 20px;
            padding: 25px 0px;
            flex-direction: column;
        } 
    div{
        &:nth-child(1)
        {
            div{
                h1{
                    text-align: left;
                    font: normal normal 600 18px/24px Noto Sans;
                    letter-spacing: 0px;
                    color: #FFFFFF;
                }
                p{
                    text-align: left;
                    font: normal normal medium 16px/26px Noto Sans;
                    letter-spacing: 0px;
                    color: #FFFFFF;
                    opacity: 1;
                }
            }
        }
        &:nth-child(2)
        {
            button{
                width: 144px;
                height: 48px;
                background: #FFFFFF 0% 0% no-repeat padding-box;
                border: 2px solid #3E3E3E;
                opacity: 1;
                text-align: center;
                font: normal normal 600 16px/22px Noto Sans;
                letter-spacing: 0px;
                color: #3E3E3E;
            }
        }
    }
}

.collapse{
    margin:5px 50px;

    button
    {
    display: block;
    margin-left: auto;
    width: 190px;
    height: 57px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 18px;
    opacity: 1;
    text-align: center;
    font: normal normal bold 18px/23px Raleway;
    letter-spacing: 0px;
    color: #000000;
    
    @include media('<=desktop')
    {  
        display: block;
        margin: auto;
    } 
    }
   
}

.notcollapse{
    margin:5px 50px;

    button
    {
    display: block;
    margin: auto;
    width: 227px;
    height: 57px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 18px;
    opacity: 1;
    text-align: center;
    font: normal normal bold 13px/16px Raleway;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    }
}

.body{
        
    margin:50px 0px;
    
    .header{
        text-align: center;
        font: normal normal bold 48px/58px Noto Sans;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
        margin: 10px 0px;
    }   
    .para{
        text-align: center;
        font: normal normal 600 16px/22px Noto Sans;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
        margin-top: 20px;
        margin-bottom: 65px;
    } 
}